{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié !{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include '_alertMessage.html.twig' %}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 m-5">
                <h3 class="text-center mb-4">Mot de passe oublié</h3>
                <div class="border p-4">
                    {{ form_start(emailForm) }}
                    <div class="mb-3">
                        {{ form_row(emailForm.email) }}
                        {{ form_errors(emailForm.email) }}
                    </div>
                        {{ form_end(emailForm) }}  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
