{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
    <div class="container-fluid">
        {% include '_alertMessage.html.twig' %}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 m-5">
                <h3 class="text-center mb-4">Réinitialisation du mot de passe</h3>
                <p class="text-center">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                <form class="border p-3">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
