.maintxt {
    position: relative;
    color: white;
}

.main {
  position: relative;
}

.overlay-text {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

#accroche{
    position: absolute;
    top: 35%;
    right: 15%;
}

#img_accueil{
    background-image: url(../img/home2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* page oneTricks */

.card_header{
  position: relative;
}

.title_center{
  background-color: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons{
  border: 1mm ridge black;
  position: absolute;
  top: 2%;
  right: 2%;
}


@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

/* mail */

.main_mail{
  text-align: center;
}

.link_mail{
  text-decoration: none;
  background-color: cornflowerblue;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 2px;
  padding: 4px;
  color: white;
}

.link_mail:hover{
  color: black;
  background-color: rgb(150, 181, 238);
}


  

/*<div style="position:relative; height:400px">
   <div style="position:absolute;z-index:1">
      <img src="images/greenhouse.jpg">
   </div>
   <div style="position:absolute;top:360px; width:600px; height:400px; z-index:2;font-size:200%">
      <center><b>Ma maison...</b></center>
    </div> 
</div>*/