.maintxt {
    position: relative;
    color: white;
}

.main {
  position: relative;
}

.overlay-text {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

#accroche{
    position: absolute;
    top: 35%;
    right: 15%;
}

p {
  margin-bottom: 0px;
}

#img_accueil{
    background-image: url(../img/home2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* page oneTricks */

.card_header{
  position: relative;
}

.title_center{
  background-color: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons{
  border: 1mm ridge black;
  position: absolute;
  top: 2%;
  right: 2%;
}


@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

/* page oneTricks */

.card_header{
  position: relative;
}

.title_center{
  background-color: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons{
  border: 1mm ridge black;
  background-color: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 2%;
  right: 2%;
}

img {
  height: 70vh;
  object-fit: fill;
}

.diapo {
  height: 20vh;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.avatar {
  border-radius: 50px; 
  height: 34px; 
  width: 34px;
}

/* mail */

.main_mail{
  text-align: center;
}

.link_mail{
  text-decoration: none;
  background-color: cornflowerblue;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 2px;
  padding: 4px;
  color: white;
}

.link_mail:hover{
  color: black;
  background-color: rgb(150, 181, 238);
}

.star{
  cursor: pointer;
}

.test {
  display: none !important;
}

.himg {
  height: 180px;
  object-fit: cover;
}

/*<div style="position:relative; height:400px">
   <div style="position:absolute;z-index:1">
      <img src="images/greenhouse.jpg">
   </div>
   <div style="position:absolute;top:360px; width:600px; height:400px; z-index:2;font-size:200%">
      <center><b>Ma maison...</b></center>
    </div> 
</div>*/

@media (max-width: 768px) {
  nav{
    background-color: #e3f2fd;
    border-top: 1px black solid;
    display: none !important;
  }

  .test {  
    position: absolute; 
    bottom: 0px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;
    display: flex !important;
  }
}