<div class="main_mail">
	<h3>Activation de votre compte</h3>
	<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
	<p>
		<a class="link_mail" href="{{ url('activation', {'token': token}) }}">Activer mon compte</a>
	</p>
</div>