<h1>Activation de votre compte</p>
<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ url('activation', {'token': token}) }}">Activer mon compte {{ token }}</a></p>
