<div class="main_mail">
    <h3>Modification de votre mot de passe</h3>
    <p>Veuillez cliquer sur le lien pour modifier votre mot de passe</p>
    <p><a class="link_mail" href="{{ url }}">Lien pour modifier votre mot de passe</a></p>
</div>