{% extends 'base.html.twig' %}

{% block title %}Blog - SnowTricks{% endblock %}

{% block body %}
    
    <div>
        test1209 {{ avatar }}
        <img src="{{ avatar }}">
    </div>
    
{% endblock %}


