{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="card-snow" class="container-fluid mt-3 mb-3 pt-5 px-5">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                {% for allTrick in allTricks %}            
                    <div class="col">
                        <div class="card h-100">
                            <img src="./img/indie_grab.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="" href="{{ path('oneTricks', {'id' : allTrick.id}) }}"><h5 class="card-title">{{allTrick.title}}</h5></i></a>
                                    <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>           
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteTricks" tabindex="-1" aria-labelledby="deleteTricksLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body text-center">
            <h5>Voulez-vous vraiment supprimer cette figure ?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger">Confirmer</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}